venv/

.DS_Store

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage

build/
*.egg-info/

Tracker_Bitcoin_API_server.egg-info/

*.db

tracker/static/js/app.js
tracker/static/js/app.js.map

node_modules/

package-lock.json

._*
.fuse*

uploads/

deployment/tracker-site
deployment/tracker.service

./tracker.ini
